* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555555;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/code\ clan\ head.jpg); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.logo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
    margin-top: 20px;
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 30px;
    color: #e67e22;
    
}
.main-nav li{
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22;
}


h1{
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 20px;
    color: #e67e22;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

.code-clan-title {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  
}

h2{
 font-weight: 300;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-top: 30px;
    letter-spacing: 1px;
    color: white;
}
.time{
    display: inline-block;
    color: #e67e22;
    margin-top: 1.5em;
    margin-left: 1.5em;
    margin-right: 1.5em; 
}
